.header{
    box-sizing:border-box;
    height: 75px;
    width: 70%;
    background-color: #CAE9FD;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid silver;
    color:#3C444D;
}